{% extends 'user_out/layout.html' %}
{% block content %}

    <div class="row my-5 justify-content-center align-items-center">
        <div class="card shadow login__card">
            <div class="card-header text-center">
                <h2 class="m-0 p-0 login__card__title" style="font-family: 'Anton', sans-serif">LOGIN TO EBAY50</h2>
            </div>
            <div class="card-body">
                {% if message %}
                    <div class="alert alert-primary" role="alert">
                       {{ message }}
                    </div>
                {% endif %}
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Password">
                    </div>
                    <input class="btn btn-success btn-block" type="submit" value="Login">
                </form>
            </div>
            <div class="card-footer text-center">
                <span>Don't have an account? <a href="{% url 'register' %}">Register here.</a></span>
            </div>
        </div> 
    </div>
{% endblock %}